body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

.wrap {
    display: flex;
    justify-content: space-between;
    margin: 4% 20% 0;
    flex-wrap: wrap;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-card {
    width: 400px;
    margin: 50px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 16px -4px rgba(102,95,102,1);
}

.news-card-content {
    padding: 10px;
}

.title {
    font-weight: 300;
    font-size: 25px;
}

.grey-line {
    border-top: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

.read-more {
    color: #da985a;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.blog-form-item {
    position: relative;
}

.select {
    -webkit-appearance: none;
    padding-bottom: 10px;
    color: #72787a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-width: 0 0 1px;
    border-color: #72787a50;
    width: 350px;
    margin-bottom: 20px;
    
}

.select:hover {
    cursor: pointer;
    outline: 0;
    border-bottom-color: #07cfcf;
    color: #72787a;
    font-weight: 600;
}

.blog-form-item:hover .submit-icon {
    color: #07cfcf;
}

.submit-icon {
    position: absolute;
    right: 0;
    bottom: 20px;
    color: #3d4142;
}

